{{#> plantilla}}
    <div class="tabless">
        <br id="tablaClasificacionPiloto">
        <h1 class="h1posiciones">Tabla Clasificaciones Pilotos</h1>
        <table class="tablaClasificacion">
            <tr>
                <th>Posicion</th>
                <th>Escudo</th>
                <th>Piloto</th>
                <th class="">Total</th>
                {{#each bandera}}
                    <th><img class="tablaClasificacion__paises" src={{puntaje}}></th>
                {{/each}}
            </tr>
            {{#each data.tabla}}
                {{#if idEsc}}
                <tr>
                    <th class="tablaClasificaciones__Nclas">{{@key}}</th>
                    <th><img class="tablaClasificacion__paises" src={{img}}></th>
                    <th>{{nombre}}</th>
                    <th class="tablaClasificaciones__TPuntos">{{total}}</th>
                    {{#each arrCarrera}}
                        <th>{{puntaje}}</th>
                    {{/each}}
                </tr>
                {{/if}}
            {{/each}}
        </table>

        <div id="tablaClasEscuderia"></div>
        <h1 class="h1posiciones">Tabla Clasificaciones Escuderias</h1>
        <table class="tablaClasificacion">
            <tr>
                <th>Posicion</th>
                <th>Escudo</th>
                <th class="">Total</th>
                {{#each bandera}}
                    <th><img class="tablaClasificacion__paises" src={{puntaje}}></th>
                {{/each}}
            </tr>
            {{#each data.tabla}}
                {{#if idEsc}}
                <tr>
                    <th class="tablaClasificaciones__Nclas">{{@key}}</th>

                    <th><img class="tablaClasificacion__paises" src={{img}}></th>
                    
                    <th class="tablaClasificaciones__TPuntos">{{total}}</th>
                    {{#each arrCarrera}}
                        <th>{{puntaje}}</th>
                    {{/each}}
                </tr>
                {{/if}}
            {{/each}}
        </table>
    </div>
{{/plantilla}}